.ConnectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0vh 10vw 5vh;
  gap: 25px;
}

.contentWrapper {
  display: flex;
  width: 100%;
  border: 2px solid #ae59ff;
  border-radius: 10px;
  height: 350px;
}

.ConnectWrapper h1 {
  color: #ae59ff;
  font-size: 35px;
}

.innerContent {
  padding: 7% 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerContent h2 {
  font-size: 32px;
}

.innerContent p {
  font-size: 25px;
  color: #757575;
  margin: .5rem 0;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 8px;
  border: 2px solid #ae59ff;
  font-size: 18px;
}

.discord {
  background-color: #ae59ff;
  color: white;
}

.Whatsapp {
  color: #ae59ff;
}

.contentWrapper img {
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .ConnectWrapper {
    padding: 0vh 8vw 5vh;
  }

  .contentWrapper {
    height: 300px;
  }

  .innerContent {
    padding: 7% 6%;
  }

  .innerContent h2 {
    font-size: 28px;
  }

  .innerContent p {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .ConnectWrapper {
    padding: 0vh 7vw 5vh;
  }

  .contentWrapper {
    height: 250px;
  }

  .innerContent {
    padding: 7% 4%;
  }

  .innerContent h2 {
    font-size: 25px;
  }

  .innerContent p {
    font-size: 16px;
  }

  .socialMedia a {
    font-size: 16px;
  }
}

@media screen and (max-width: 820px) {
  .ConnectWrapper {
    padding: 0vh 6vw 5vh;
  }

  .innerContent h2 {
    font-size: 24px;
  }

  .socialMedia {
    gap: 10px;
  }

  .socialMedia a {
    font-size: 15px;
    padding: 6px 12px;
  }
}

@media screen and (max-width: 740px) {
  .innerContent {
    padding: 7% 3%;
  }

  .socialMedia a {
    font-size: 14px;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 700px) {
  .contentWrapper {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 100%;
  }

  .innerContent {
    align-items: center;
    text-align: center;
    padding: 5%;
    gap: 20px;
  }

  .contentWrapper img {
    height: auto;
    width: 100%;
  }

  .socialMedia {
    flex-wrap: wrap;
    justify-content: center;
  }

  .innerContent p {
    font-size: 14px;
    margin: 0;
    margin-top: .3rem;
  }
}

@media screen and (max-width: 379px) {
  .ConnectWrapper h1 {
    font-size: 30px;
  }

  .socialMedia a {
    font-size: 16px;
    width: 180px;
  }

  .innerContent p {
    font-size: 12px;
  }
}