.navContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 40px; 
	position: fixed;
	z-index: 100;
	width: 93%;
}

.logo{
	width: 8rem;
}

.logoConatiner{
	position: relative;
}

.collegeCode{
	position: absolute;
	top: 9px;
	right: 0px;
	color: var(--primary);
	font-weight: 800;
	font-size: 12px;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.nav a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.nav button {
	border-radius: 8px;
	border: none;
	padding: 10px 15px;
	margin-left: 20px;
	background: #6F6FFF;
	color: white;
	font-weight: 600;
}