.StatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
  margin-bottom: 5vh;
}

.StatWrapper h1 {
  color: #ae59ff;
}

.contentDiv {
  background: url("./assets//bg.svg") center center/cover no-repeat;
  display: flex;
  width: 100%;
  padding: 20px 10vw;
  align-items: center;

  justify-content: space-between;
  gap: 10vw;
}

.leftContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.leftContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftContainer h3 {
  font-weight: 700;
  font-size: 35px;
}

.leftContainer p {
  color: #ae59ff;
  font-size: 20px;
}

.rightContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .contentDiv {
    flex-direction: column-reverse;
    padding: 20px 8vw;
    gap: 5vw;
  }

  .leftContainer {
    justify-content: center;
    gap: 25px;
  }

  .leftContainer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .contentDiv {
    padding: 20px 5vw;
  }
}

@media screen and (max-width: 320px) {
  .contentDiv {
    padding: 20px 2vw;
  }

  .leftContainer p {
    font-size: 12px;
  }
}