.gallery {
    padding-bottom: 3rem;
}

.gallery h2 {
    color: #ae59ff;
    font-size: 35px;
    text-align: center;
    padding: 3rem;
}

.row {
    position: relative;
}

.imgContainer {
    padding: 0.5rem;
    height: 325px;
    width: 450px;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .imgContainer {
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .imgContainer {
        height: 200px;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .imgContainer {
        height: 150px;
        width: 250px;
    }
}
