@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');

#root{
	--primary: #AE59FF;
	--font: 'Plus Jakarta Sans', sans-serif;
	font-family: var(--font);
}

body{
	padding: 0;
	margin: 0;
}