@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600;700;800&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');

* {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}